%h1 Listing branches

.row
  .span2
    %h5 Name
- @branches.each do |branch|
  .row
    .span1
      = branch.name
    .span3
      = link_to 'View builds', branch_builds_path(branch)
      = link_to 'Show', branch
      = link_to 'Edit', edit_branch_path(branch)
      = link_to 'Destroy', branch, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger'
%br

= link_to 'New Branch', new_branch_path
