!!!

%html
  %head
    %title
      Buildy

    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'stylesheets/layout.css'}

  %body
    .container
      #header
        %h1 hai
      #page
        #content
          %p hai

          - @branches.each do |branch|
            .branch
              = branch.name
              .last_good
                Last good revision:
                - last_good = branch.last_good_revision
                - if last_good
                  = last_good
                - else
                  No good revision found.
              .revisions
                - branch.revisions.each do |rev|
                  .revision
                    - if rev.good?
                      .good
                        = rev.revision_id
                    - else
                      .bad
                        = rev.revision_id
                    .build_results
                      - branch.builds.each do |build|
                        .result
                          = build.name
                          - res = rev.build_results.find_by_build_id(build.id)
                          = res.result if res
                          - unless res
                            Build information not received

      #footer
