%h1 Listing builds

%table
  %tr
    %th Name
    %th Branch
    %th
    %th
    %th

  - @builds.each do |build|
    %tr
      %td= build.name
      %td= build.branch_id
      %td= link_to 'Show', branch_build_path(build.branch, build)
      %td= link_to 'Edit', edit_branch_build_path(build.branch, build)
      %td= link_to 'Destroy', [build.branch, build], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Build', new_branch_build_path
