%h1 Listing builds

.row
  .span1
    %h5 Name
  .span1
    %h5 Branch
  .span1
    %h5 Enabled
- @builds.each do |build|
  .row
    .span1
      = build.name
    .span1
      = build.branch_id
    .span1
      = build.enabled
    .span3
      = link_to 'Show', branch_build_path(build.branch, build)
      = link_to 'Edit', edit_branch_build_path(build.branch, build)
      = link_to 'Destroy', [build.branch, build], :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger'

%br

= link_to 'New Build', new_branch_build_path
