!!!
%html
  %head
    %title BuildStatus
    /[if lt IE 9]
      %script{:src=>"http://html5shim.googlecode.com/svn/trunk/html5.js", :type=>"text/javascript"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
  %body
    .navbar
      .navbar-inner
        .container
          = link_to 'Buildy', root_url, :class => %{ brand }
          %ul.nav
            %li
              = link_to 'Branches', branches_url
    %div{:class => %w{container}}
      = yield
